{{template "base" .}}
{{define "content"}}
<header>
   
      <div>
        <!-- content for each tab goes here -->
       
        <section id="feedback">
          <h2>Feeedback</h2>
          <p>Stuff about the system. Creator information</p>
          <!-- information about the website or company goes here -->
        </section>
        
    </div>
</header>
{{ end }}


