


{{template "base" .}}
{{define "content"}}

    
     
        <!-- content for each tab goes here -->
        <section id="login">
          <h2>Login</h2>
          <!-- login form or other login content goes here -->
        
          <form action="#">
            <label for="email">Email</label>
            <input type="email" name="email" id="">
            <label for="password">Email</label>
            <input type="password" name="password" id="">
          <input type="submit" value="Login">
        </form>
        
        </section>
       
      

{{ end }}

{{define "css"}}
<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    font-family: "Rubik", sans-serif;
    color: #444;
  }

  .container {
    margin: 0 auto;
    width: 1200px;
  }

  .header-container {
    width: 1200px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .header-container-inner {
    width: 50%;
  }

  header {
    height: 100vh;
    background-image: linear-gradient(
        rgba(34, 34, 34, 0.6),
        rgba(34, 34, 34, 0.6)
      ),
      url("/static/img/hero.jpg");
    background-size: cover;
    color: #fff;
  }

  nav {
    font-size: 20px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
  }

  h1 {
    font-size: 52px;
    margin-bottom: 32px;
    line-height: 1.05;
  }

  p {
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 48px;
  }

  .btn:link,
  .btn:visited {
    font-size: 20;
    font-weight: 600;
    background-color: #e67e22;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 16px 32px;
    border-radius: 9px;
  }
</style>

{{ end }}

